body {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: "lnum" 1,"pnum" 1,"kern" 1,"liga" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: contextual;
  -moz-osx-font-smoothing: grayscale
}
